.cta {
  padding: 8rem 0 14rem;
  @include mobile {
    padding: 4rem 0;
  }
  &:not(.cta--portfolio) {
    @include mobile {
      display: none;
    }
  }
  &__container {
    max-width: 116.6rem;
    margin: 0 auto;
    @include mobile {
      max-width: 100%;
    }
  }
  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12rem;
    @include mobile {
      margin-bottom: 2rem;
      display: block;
    }
  }

  &__desc {
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: right;
    color: var(--text);

    @include mobile {
      text-align: left;
      font-size: 1.2rem;
    }
  }
  &__title {
    flex-shrink: 0;
    margin: 0;
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--h);
    @include mobile {
      margin-bottom: 1.2rem;
      font-size: 2rem;
    }
    span {
      display: block;
      &:first-child {
        margin-left: -23rem;
        @include mobile {
          margin: 0;
        }
      }
      &:last-child {
        @include mobile {
          margin-left: 10rem;
        }
      }
    }
  }

  &--mob {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
