.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem 3.2rem;
  @include mobile {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &__label {
    position: relative;
    display: block;
    width: 100%;
  }
  &__input {
    width: 100%;
    height: 6.4rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--button);

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: var(--button);
    padding: 1rem;

    @include mobile {
      height: 4rem;
      font-size: 1.2rem;
    }
    &::placeholder {
      color: var(--color-input);
      transition: 0.15s ease-in-out;
    }
    &:focus {
      outline: none;
      border-color: #000;
      &::placeholder {
        color: var(--button);
      }
    }
  }

  &__attach {
    grid-column: 2 span;
    position: relative;
    @include mobile {
      grid-column: 1 span;

      .form__input {
        height: 8rem;
        text-align: top;
        vertical-align: top;
      }
    }
  }
  &__file {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    border: 1px solid var(--line);
    border-radius: 0.4rem;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    font-weight: 300;
    font-size: 1.2rem;
    line-height: 140%;
    color: var(--color-input);

    svg {
      width: 1rem;
      height: 2rem;
    }
    @include mobile {
      top: 1rem;
      right: 1rem;
      transform: none;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0;
    }
    &-text {
      @include mobile {
        display: none;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 span;
    @include mobile {
      grid-column: 1 span;
      display: block;
    }
  }

  &__btn {
    width: 100%;
    max-width: 22rem;
    @include mobile {
      display: block;
      margin: 0 auto;
      max-width: 16.4rem;
    }
  }
  &__box {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    position: relative;
    border: 1px solid var(--button);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: var(--button);
      background-image: url("./../img/check.svg");
      background-size: 1.4rem 1rem;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
    }
  }
  &__agree {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--text);

    @include mobile {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    input:checked ~ .form__box {
      &::before {
        opacity: 1;
      }
    }
  }
}

.form-file {
  display: flex;
  align-content: center;
  gap: 1rem;

  &__list {
    position: absolute;
    padding-bottom: 1rem;
    bottom: 100%;
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;
    gap: 2rem;
    @include mobile {
      gap: 1rem;
      bottom: unset;
      top: 0;
      padding-bottom: 0.3rem;
    }
    &::-webkit-scrollbar {
      height: 5px;
      @include mobile {
        height: 2px;
      }
      width: 100%;
      background-color: var(--color-input);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--button);
      border-radius: 20px;

      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -0.04em;
    white-space: nowrap;
    color: var(--color-input);
    transition: color 0.1s ease-out;
    @include mobile {
      font-size: 1rem;
    }
  }
  &__rm {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    line-height: 100%;
    line-height: 0;
    letter-spacing: -0.04em;
    color: var(--color-input);
    transition: color 0.1s ease-out;
    cursor: pointer;
    @include mobile {
      font-size: 1.2rem;
    }
  }
  @include hover {
    .form-file__name,
    .form-file__rm {
      color: var(--button);
    }
  }
}
