.temp-info {
  padding: 8rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }

  &__side {
    grid-column: 4 span;
  }
  &__date {
    font-family: var(--second-family);
    margin-bottom: 7.2rem;
  }
  &__item {
    font-family: var(--font-family);
    font-weight: 250;
    font-size: 1.4rem;
    line-height: 100%;
    color: var(--button);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__content {
    grid-column: 5 span;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  &__mob {
    grid-column: 3 span;
    height: 75rem;
  }

  &__title {
    margin-bottom: 7.2rem;
  }
  &__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: var(--button);
  }
}
