<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__left">
        <div class="header__burger">
          <img src="./img/burger.svg" alt="" />
          <img src="./img/cross.svg" alt="" />
        </div>
      </div>
      <a href="./" class="header__logo">
        <svg class="">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>

      <div class="header__right">
        <div class="header__soc">
          <a href="#" class="header__link">
            <svg class="">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
          <a href="#" class="header__link">
            <svg class="">
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
        </div>

        <button class="btn-reset header__btn btn modal-btn">
          Связаться с нами
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-top-right"></use>
          </svg>
        </button>
      </div>
    </div>
    @include('./burger-menu.html')
  </div>
</header>
@include('modal-form.html')
