<section class="hero">
  <canvas class="canvas" id="canvas"></canvas>

  <div class="container">
    <div class="hero__container">
      <h1 class="title1 hero__title">Разработка сайтов</h1>

      <div class="hero__items">
        <div class="hero__item hero-item">
          <div class="hero-item__obj">Мы</div>
          <div class="hero-item__text">придумываем<br />разрабатываем</div>
        </div>
        <div class="hero__item hero-item">
          <div class="hero-item__obj">Вы</div>
          <div class="hero-item__text">
            Впечатляетесь<br />выделяетесь <span>на рынке</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
