<div class="mob-menu">
  <div class="mob-menu__container">
    <a href="#" class="mob-menu__item">
      <div class="mob-menu__icon">
        <img src="./img/bid.svg" alt="" />
      </div>
      <div class="mob-menu__capture">заявка</div>
    </a>
    <a href="#" class="mob-menu__item">
      <div class="mob-menu__icon">
        <img src="./img/port.svg" alt="" />
      </div>
      <div class="mob-menu__capture">портфолио</div>
    </a>
    <a href="#" class="mob-menu__item">
      <div class="mob-menu__icon">
        <img src="./img/call.svg" alt="" />
      </div>
      <div class="mob-menu__capture">связь</div>
    </a>
  </div>
</div>
