<section class="other main-portfolio">
  <div class="container">
    <div class="main-portfolio__header">
      <h2 class="title2 centered main-portfolio__title">Другие кейсы</h2>
    </div>
    <div class="main-portfolio__items">
      <a href="#" class="main-portfolio__item portfolio-item">
        <div class="portfolio-item__gallery">
          <div class="portfolio-item__img">
            <img src="./img/portfolio/print-insight.webp" alt="" />
          </div>
        </div>
        <div class="portfolio-item__info">
          <div class="portfolio-item__name title2 title2--white">
            Принт-инсайт
          </div>
          <div class="portfolio-item__tags">
            <div class="portfolio-item__tag">#Дизайн</div>
            <div class="portfolio-item__tag">#маркетплейс</div>
            <div class="portfolio-item__tag">#каталог</div>
            <div class="portfolio-item__tag">#авто</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-portfolio__item portfolio-item">
        <div class="portfolio-item__gallery">
          <div class="portfolio-item__img">
            <img src="./img/portfolio/black-angus.webp" alt="" />
          </div>
        </div>
        <div class="portfolio-item__info">
          <div class="portfolio-item__name title2 title2--white">
            Black angus premium grill
          </div>
          <div class="portfolio-item__tags">
            <div class="portfolio-item__tag">#Дизайн</div>
            <div class="portfolio-item__tag">#маркетплейс</div>
            <div class="portfolio-item__tag">#каталог</div>
            <div class="portfolio-item__tag">#авто</div>
          </div>
        </div>
      </a>
    </div>
    <div class="main-portfolio__bottom">
      <button class="btn btn-reset main-portfolio__more">
        Перейти в портфолио
      </button>
    </div>
  </div>
</section>
