<section class="temp-info">
  <div class="container">
    <div class="temp-info__container">
      <div class="temp-info__side">
        <div class="temp-info__date title2">2024</div>

        <ul class="list-reset temp-info__list">
          <li class="temp-info__item">UX/UI design</li>
          <li class="temp-info__item">Frontend</li>
          <li class="temp-info__item">Backend</li>
        </ul>
      </div>
      <div class="temp-info__content">
        <div class="temp-info__text">
          <h1 class="temp-info__title title2">ПринтИнсайт</h1>
          <div class="temp-info__desc desc">
            <p>
              PrintInside — инновационная студия, специализирующаяся на печатной
              продукции и графическом дизайне. Задача нашей команды заключалась
              в создании современного, интуитивно понятного веб-сайта, который
              отражал бы творческий подход и высокое качество услуг компании. Мы
              стремились не только подчеркнуть уникальность бренда, но и
              обеспечить пользователям легкость навигации и доступ к информации
              о продуктах.
              <br />
              <br />
              В процессе работы мы использовали яркие визуальные элементы и
              динамичные анимации, чтобы сделать сайт не просто информативным,
              но и вдохновляющим. Основное внимание было уделено портфолио, где
              каждая работа PrintInside представлена с максимальным эффектом,
              позволяя клиентам оценить уровень мастерства и креативности. Мы
              также внедрили адаптивный дизайн, чтобы пользователи могли
              наслаждаться полным функционалом сайта на любых устройствах.
              Результат — стильный и современный ресурс, который стал мощным
              инструментом для привлечения новых клиентов и укрепления позиций
              PrintInside на рынке печатных услуг.
            </p>
          </div>
        </div>
        <div class="temp-info__bottom">
          <a href="#" class="temp-info__link"> https://printinside.ru/ </a>
        </div>
      </div>
      <div class="temp-info__mob temp-mob">
        <div class="temp-mob__mobile">
          <img src="./img/iphone.webp" alt="" />
        </div>
        <div class="temp-mob__image">
          <img src="./img/portfolio/print/02.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
