<section class="temp-slider">
  <div class="container">
    <div class="temp-slider__container">
      <div class="temp-slider__mob temp-mob">
        <div class="temp-mob__mobile">
          <img src="./img/iphone.webp" alt="" />
        </div>
        <div class="temp-mob__image">
          <div class="temp-mob__slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./img/portfolio/print/03.webp" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="./img/portfolio/print/06.webp" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="./img/portfolio/print/07.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="temp-slider__right">
        <div class="temp-slider__pc temp-pc">
          <div class="temp-pc__pc">
            <img src="./img/mac.webp" alt="" />
          </div>
          <div class="temp-pc__image">
            <div class="temp-pc__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/portfolio/print/04.webp" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/portfolio/print/05.webp" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/portfolio/print/08.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="temp-slider__control">
          <div class="temp-slider__arr temp-slider__arr--prev">
            <svg
              width="22"
              height="18"
              viewBox="0 0 22 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.5 8.98491L0.746167 9.00008M8.65267 0.833414L0.5 9.00008L8.65267 17.1667"
                stroke="#323232"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="temp-slider__arr temp-slider__arr--next">
            <svg
              width="22"
              height="18"
              viewBox="0 0 22 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.500001 9.01509L21.2538 8.99992M13.3473 17.1666L21.5 8.99992L13.3473 0.833252"
                stroke="#323232"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="temp__mob-img">
  <img src="./img/portfolio/print/09.webp" alt="" />
</section>
